.bar-header{
    background-color:  #00b33c;
}

.title{
    color:#fff;
}

.additem, .additem:hover, .additem:active{
  color:#fff;
  border: 1px solid white;
}

.needed{
    background-color: #ffff99;
    border: 0.5px solid white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
}

.notneeded{
    background-color: #99ff99;
    border: 0.5px solid white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
}

.neededicon{
     position:absolute;
    right:26px;
    font-size: 1.3em;
    color:#ff3333;
    
}

.notneededicon{
    position:absolute;
    right:26px;
    font-size: 1.3em;
    color:green;
}

